/*
color palette
hsl(210deg 28.57% 97.25%)
*/
/*Reset*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*Utility*/

body{
font-family: "Inter", sans-serif;
}

.background-gray{
    background-color: rgb(246 248 250);
    height: 100%;
}

/*Regole*/


/*Header*/
header{
    height: 100px;
    line-height: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
}

header img{
    width: 60px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem
}

/*MAIN*/

main{
    padding: 50px;
    height: 100%;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Button section*/

.button-container{
    padding-left: 2rem;
    padding: 15px 0;
    border-bottom: 2px solid rgb(246 248 250);
    width: 100%;
    padding-left: 2rem;
}

.button{
    padding: 8px 12px;
    border-radius:5px;
    border-color: rgb(246 248 250);
    font-size: 0.75rem;
    border-color: hsl(0deg 0% 84.71%);
    border-style: solid;
}

.blue-button{
    background-color: hsl(204.5deg 84.92% 60.98%);
    color: white;
}

.white-button{
    background-color: white;
    color: hsl(0deg 0% 84.71%);
}


/*Lists*/

.main-container-lists{
    line-height: 2rem;
    color:hsl(0deg 0% 29.02%);
    padding-left: 2rem;
}

.list-title{
    padding-top: 2rem;    
}

ul{
    list-style-type: none;
}

/*Check and cross*/


.check{
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    height: 1rem;
    display: inline-block;
    line-height: 1rem;
    width: 1rem;
    vertical-align: middle;
    text-align: center;
}

.done{
    color: green;
    border: solid 1px green;
}

.undone{
    color: red;
    border: solid 1px red;
}

/*Labels*/

.label{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border-radius: 15px;
}

.editorial{
    background-color: hsl(201.22deg 76.64% 58.04%);
}

.q1-goals{
    background-color: hsl(261.36deg 72.84% 68.24%);
}

.recruiting{
    background-color: hsl(164.82deg 38.97% 58.24%);
}

.website{
    background-color:hsl(322, 62%, 55%) ;
}

.mobile{
    background-color: rgb(241 162 46);
}

.sales{
    background-color:rgb(179 203 54) ;
}